<ion-header >
  <ion-toolbar color="primary">
    <ion-title>Buscador de CEP</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar color="dark" placeholder="Código do cep..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content color="light">
    <ion-list [inset]="true">
      <ion-item>
        <ion-label>Logradouro:</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Complemento:</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Bairro:</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cidade:</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>UF:</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-content>
